.dates-wrapper {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 8px;
	justify-content: space-between;
	margin-bottom: 20px;
}
@media (max-width: 1024px) {
	.dates-wrapper {
		flex-direction: column;
	}
}

.color-next-day {
	color: #ff6700;
}

.color-nextweek-day {
	color: #3a6ea5;
}
